#schedule {
  background: rgba(58,58,255,0.1);
}
#schedule .schedule-btn-link {
  text-decoration: none;
}
#schedule .schedule-btn {
  color: white;
  padding: 1rem;
  background: rgb(217,60,60);
  font-size: 1rem;
  border: 2px solid rgb(217,60,60);
  border-radius: 6px;
  cursor: pointer;
  width: 50%;
  display: block;
  margin: 2rem auto 0 auto;
  transition: background .25s, color .25s, border .25s;
}
#schedule .schedule-btn:hover,
#schedule .schedule-btn:active {
  background: rgba(58,58,255,0.1);
  color: rgb(60,60,255);
  border: 2px solid rgb(60,60,255);
  outline: 0;
}
